html,
body {
  height: 100%;
  width: 100%;
  background-color: #f6f7f8;
  font-family: "Roboto Condensed", "Noto Sans TC", sans-serif;
}
.user-image:hover {
  opacity: 0.6;
  cursor: pointer;
}

.fa-venus-mars,
.fa-baby,
.fa-cake-candles,
.fa-map-location-dot,
.fa-paper-plane {
  width: 10px;
  margin-right: 1rem;
}

.fa-user-astronaut {
  width: 20px;
  margin-right: 1rem;
}

.fa-earlybirds {
  width: 20px;
  margin-right: 5px;
}

.card-img-top {
  background-color: #666666;
}
